doctype html
html
	head
		link(rel='stylesheet', href='stylesheets/style.css')
		link(rel='stylesheet', href='stylesheets/fullcalendar.css')
		
		script(type='text/javascript', src='javascripts/jquery.min.js')
		script(type='text/javascript', src='javascripts/moment.min.js')
		script(type='text/javascript', src='javascripts/fullcalendar.js')
		script(type='text/javascript', src='javascripts/calendar.js')
		script(type='text/javascript', src='javascripts/jquery-ui.min.js')
	body
		#calendar
