doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Create New Features
    div
      form(method='post', action='/api/features', enctype="application/x-www-form-urlencoded")
        div
          span Name:
          input(type='text', name='name', autofocus='autofocus', id='name')
        div
          span Latitude:
          input(type='text', name='lat', id='lat')
        div
          span Longitude:
          input(type='text', name='lon', id='lon')
        div
          input(type='submit', value='Submit')