extends layout

block content
	h1= title
	p I'm Mike! Welcome to #{title}
	
	p
		a(href='/userlist') Userlist
	p
		a(href='/helloworld') Hello World
	p
		a(href='/calendar') Calendar
	p
		a(href='/maps')	Map