doctype html
html
	head
		link(rel='stylesheet', href='stylesheets/style.css')
		link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
	body
		script(type='text/javascript', src='javascripts/jquery.min.js')
		script(type='text/javascript', src='javascripts/leaflet.js')
		script(type='text/javascript', src='javascripts/leafletClient.js')